article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
display: block;
}
@charset "UTF-8";

:root {
	--main-color: #ff4500;
	--accent-color: ;
	--dark-main-color: #228b22;
	--dark-accent-color: #4676D7;
	--text-bright-color: #fff;
	--text-back-color: #A7F1FF;
	--icon-color: #fff;
	--icon-bk-color: #ddd;
	--gray-color: #ddd;
	--large-width: 1000px;
	--middle-width: 800px;

}

header iframe {
    vertical-align: bottom;
}

/* 基本設定：フォントサイズ */
@media (max-width: 599px) {
	/* 画面幅が小さいとき */
	:root {
		font-size: 15px;
	}
}

@media (min-width: 600px) and (max-width: 799px) {
	/*　画面幅が中くらいの時 */
	:root {
		font-size: 17px;
	}
}

@media (min-width: 800px) {
	/*　画面幅が大きいとき */
	:root {
		font-size: 17px;
	}
}

body {
	margin: 0;
	style="margin:0;padding:0;
	font-family: 'メイリオ',
	'Hiragino Kaku Gothic Pro'
	sans-serif;
}


/*ヘッダー*/
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background-color: rgba(255,255,255,0.6);
}

/*トップページ以外のページでヒーローイメージの重なりを解除 */
.nohero header {
	position: static;
	border-bottom: solid 1px #ddd;
	border-bottom: solid 1px var(--gray-color);
}

/*ヘッダーA: サイト名*/
.headA {
	display: inline-block;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #000000;
	color: #fff;
	color: var(--text-bright-color);
	font-family: 'Montserrat', sans=serif;
	font-size: 22px;
	text-decoration: none;
}


/*　ヘッダーB:　ナビゲーションメニュー　*/
.headB ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.headB a {
	display: block;
	padding: 15px;
	color: inherit;
	font-size: 12px;
	text-decoration: none;
}

.headB a:hover {
	background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
	/*画面幅が大きいとき */
	header .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1000px;
		max-width: var(--large-width);
		margin-left: auto;
		margin-right: auto;
	}
	.headB ul {
		display: flex;
	}
}



/*　ヘッダーC：　トグルボタン　*/

@media (max-width: 767px) {
	/*　小さい画面用の設定 */
	header .container-small {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}


	.headC {
		margin-right: 10px;
		padding: 0;
		border: none;
		outline: none;
		background: none;
		font-size: 28px;
		opacity: 0.5;
		cursor: pointer;
	}

	.headC:hover {
		opacity: 0.3;
	}

	.headB {
		display: none;
	}
}

@media (min-width: 768px) {
	/* 大きい画面の設定用 */
	.headC {
		display: none;
	}

	.headB {
		display: block !important;
	}
}

/* コンテンツページ：記事 */
.post .container {
	max-width: 1200px;
	max-width: var(--middle-width);
	margin-left: auto;
	margin-right: auto;
	padding: 120px 10px 100px;
}

.post h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 2rem;
}

.post h2 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 1.8rem;
	/*border-left: 0.5rem solid #07aaf4;*/
}

.post p {
	font-size: 1.2rem;
	line-height: 2;
	margin-top: 60px;
	margin-bottom: 60px;
}

/*記事見出し用デザイン*/
.heading {
		padding:0.3rem 0.3rem 0.3rem 1rem;
		border-left: solid 0.5rem #07aaf4;
		border-bottom: solid 1px gray;
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 2.4rem !important;
		font-weight: bold;
		letter-spacing: 0.2rem;
}

/*h2見出しアイコンのデザイン*/
.icon-blue {
	color: #07aaf4;
	margin-right: 1.5rem;
}

/*リンク用デザイン*/
.linkA {
	color: #ffa500;
	font-size: 1.5rem;
}

.linkA:hover {
	opacity: 0.6;
}

/*リンク用のブロック*/
.link-block {
	margin-top: 80px;
	margin-bottom: 80px;
}
/*リンク用ブロックB、「編集画面へ」「削除」ボタンなど*/
.linkB {
	display: inline-block;
	margin-top: 0px;
	margin-right: 25px;
	font-size: 1.1em;
}

.linkB a {
	color: #0040FF;
	text-decoration: none;
}

.linkB a:hover{
	color : #ff7043;
}

/*小さいフォント用リンク*/
.linkC {
	text-decoration: none;
	color: #0000FF;
	font-size: 17px;
	margin-left: 0.5em;
}

.linkC:hover {
	opacity: 0.6;
}

/*コンテンツ見出しイメージ*/
.post .img-position {
	text-align: center;
	margin-top: 90px;
	margin-bottom: 90px;
}

.post img {
	max-width: 25%;
}

.img-positionB {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.img-positionC img {
	max-width: 30%;
}

.img-positionC {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.img-positionB img {
	max-width: 120%;
}


.bottom-nospace {
	margin-bottom: 0px !important;
}

.top-nospace {
	margin-top: 0px !important;
}

@media (max-width: 767px) {
	/* 小さい画面の設定用 */
	.post img {
		max-width: 35%;
	}
	.middle-img img {
		max-width: 100%;
	}
}


/* コンテンツページ：　パンくずリスト */
.bread ol {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bread a {
	display: block;
	padding: 5px;
	color: inherit;
	font-size: 0.875rem;
	text-decoration: none;
}

.bread a::after {
	margin-left: 10px;
	content: '\f054';
	font-family: 'FontAwesome';
	opacity: 0.3;
}

.bread a:hover {
	background-color: rgba(0,0,0,0.3);
}

.green-button {
	width: 48%;
	color: #fff;
	background-color: rgba(27, 177, 112,0.9);
	font-size: 16px;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
}

.green-button:hover {
	    background-color: rgba(27, 177, 112, 1.0);
}

.red-button {
	width: 48%;
	color: #fff;
	background-color: rgba(240,60,60,0.8);
	font-size: 18px;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}

.red-button:hover {
	    background-color: rgba(240,60,60,1.0);
}

.big-red-button {
	width: 100%;
	color: #fff;
	background-color: rgba(240,60,60,0.8);
	font-size: 20px;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}

.big-red-button:hover {
	    background-color: rgba(240,60,60,1.0);
}

/*戻るボタン2 */
.back-bt {
  display: inline-block;
  padding: 0.3em 1em;
	margin-top: 3em;
  text-decoration: none;
  color: #07aaf4;
  border: solid 2px #07aaf4;
  border-radius: 3px;
  transition: .4s;
}

.back-bt:hover {
  background: #07aaf4;
  color: white;
}

.next-bt {
  display: inline-block;
	float: right;
  padding: 0.3em 1em;
	margin-top: 3em;
  text-decoration: none;
  color: #07aaf4;
  border: solid 2px #07aaf4;
  border-radius: 3px;
  transition: .4s;
}

.next-bt:hover {
  background: #07aaf4;
  color: white;
}

/*セッション２viewページ、ボタン*/
.blue-m-button {
    width: 30%;
    background-color: rgba(32, 152, 243, 0.9);
    border: none;
    color: #fff;
    padding: 15px;
		margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
		font-size: 20px;
}

.blue-m-button:hover {
    background-color: rgba(32, 152, 243, 1.0);
}


/*ボタンを中央にするためのブロック */
.center-block {
	text-align: center;
}

.small-stc {
	font-size: 1em !important;
}

/* 小さい画面の設定用 */
@media (max-width: 767px) {
	.green-button {
		width: 100%;
		font-size: 16px;
	}

	.red-button {
		width: 100%;
	}
}



/* 記事マークアップ */
.mark-text {
	background-color: #A7F1FF	;
	background-color: var(--text-back-color);
}

/* 記事アンダーライン */
.underline {
	text-decoration: underline 3px #0174DF;
	font-weight: bold;
}


.conA {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	min-height: 450px;
	background-image: url(img/blue_00049.jpg);
	background-position: center;
	background-size: cover;
	color: #fff;
	text-shadow: 1px 0 5px black;
	text-align: center;
	font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体;
}

.conA h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10vw;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.2em;
	margin-left: 0.2em;
}

.conA p {
	font-size: 1.4vw;
}

.conA img{
	width: 20%;
}

.conA a { /*ヒーローイメージ*/
	display: flex;
	flex-direction: column;
	width: 10em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding: 10px 30px;
	border: solid 3px currentcolor;
	border-radius: 15px;
	background-color: #228b22	;
	background-color:var(--dark-main-color);
	color: #fff;
	color: var(--text-bright-color);
	font-size: 18px;
	text-decoration: none;
}

.conA a:hover {
	background-image: linear-gradient(rgba(255,255,0.2),rgba(255,255,0.2));
}

.btn-typeA {
    width: 50%;
    background-color: rgba(32, 152, 243, 0.9);
    border: none;
    color: #fff;
    padding: 15px;
		margin:15px;
		font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.btn-typeA:hover {
    background-color: rgba(32, 152, 243, 1.0);
}

/*横幅が768px以上のとき*/
@media (min-width: 768px) {
	.conA h1 {
		font-size: 5vw;
	}
}

/*コンテンツB: 概要（アイコン＋テキスト） */
.conB .text {
	margin-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
	text-align: center;
	position: relative;
}

.conB h2 {
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	font-size: 20px;
}

.conB p {
	margin-top: 0;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	opacity: 0.8;
}

.conB .text a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #ff4500;
	color: var(--main-color);
	text-decoration: none;
}

.conB .text a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

/*コンテンツB:アイコン*/
.conB .icon {
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 50px;
	width: 2em;
	line-height: 2em;
	border-radius: 50%;
	text-align: center;
	background-color: #f5f5f5	;
	color: #07aaf4;
}

/*コンテンツB(アイコンなど)の横幅が768px以上の時、横に並べる*/
@media (min-width: 768px) {
	.conB .container {
	display: flex;
	max-width: 1000px;
	max-width: var(--large-width);
	margin-left: auto;
	margin-right: auto;
}

	.conB .text {
		flex: 1;
	}
}

/*aboutページ、フローチャート*/
ul.flow{
    list-style: none;
    padding: 10px 10px 15px 10px;
    margin: 70px 0;
}

ul.flow li{
    display: table;
    margin: 0 auto;
    display: table;
    position: relative;
    box-sizing: border-box;
    padding: 10px 20px;
    border: 2px solid #2ECCFA; /* ブロックボーダー 好みに合わせて */
    background-color: #FFF;
    border-radius: 10px;
    text-align: center;
}
ul.flow li:not(:last-child){
    margin-bottom: 50px;
}
ul.flow li:not(:last-child):after{
    content: "\f078";
    font-family: FontAwesome;
    /* FontAwesome5を使用する場合はこっちに置き換えてください */
    /* font-family: "Font Awesome 5 Free"; */
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: block;
    text-align: center;
    color: #37AB9D; /* 矢印の色 好みに合わせて */
}

/*フッター*/
footer {
	color: #fff;
	color: var(--text-bright-color);
	background-color: #000000;
	background-color: var();
}

footer .container {
	padding: 20px 20px;
	max-width: 200px;
}

/*フッターA：サイト情報 */
.footA h2 {
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: solid 1px currentcolor;
	font-family: 'Montserrat', sans-serif;
	font-size: 27px;
	letter-spacing: 0.2em;
}

.footA p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
}

.footA a {
	color: inherit;
	text-decoration: none;
}

@media (min-width: 768px) {
	footer .container {
		display: flex;
		flex-wrap: wrap;
		max-width: 1000px;
		max-width: var(--large-width);
		margin-top: 60px;
		margin-left: auto;
		margin-right: auto;
	}
}

/*自分がどうなりたいのか*/
form {
	font-size: 20px;
}


/*会員登録画面 user-input,user-check,user-thank */
.conC {
    position: relative;
    margin: 30px auto;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    max-width: 600px;
    padding: 30px;
    border-radius: 5px;
		font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体;
}

.conC h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 3.5vh;
}

button, input[type="submit"] {
    outline: none;
}

.clear {
    clear: both;
}

hr {
	 margin-top: 80px;
	 margin-bottom: 80px;
	 border: 1px solid rgba(128, 128, 128, 0.673);
}

h1 {
    font-size: 24px;
    margin: 0;
}

input {
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}

.btn {
    width: 100%;
    background-color: rgba(32, 152, 243, 0.9);
    border: none;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
		font-size: 20px;
}

.btn:hover {
    background-color: rgba(32, 152, 243, 1.0);
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.next-btn {
    float: right;
    width: 48%;
}

.back-btn {
    width: 48%;
    text-decoration: none;
    text-align: center;
    background-color: rgba(27, 177, 112, 0.8);
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, .4);
    padding: 15px;
    cursor: pointer;
    display: block;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
}

.back-btn:hover {
    background-color: rgba(27, 177, 112, 1.0);
}

.back-btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.control {
    margin-bottom: 3em;
}

label {
    display: block;
    margin-bottom: 0.5vh;
}

.required {
    margin-left: .3em;
    color: #f33;
    font-size: .9em;
    padding: 3px;
    background-color: #fee;
    font-weight: bold;
}

.error {
	padding: 1em 1em;
	margin: 2em 0;
  color: #d60e0e;
  font-size: 90%;
	border: solid 1px #d60e0e;
	border-radius: 10px;
}

.conC ul {
	list-style: none;
}

.check-info {
    color: #2b546a;
    font-weight: bold;
}

/*conCの小さい画面用*/
@media (max-width: 600px) {
    h1 {
        font-size: 18px;
    }

    p {
        font-size: .8em;
    }

    .login-btn {
        padding: 4px 3px 4px 8px;;
        top: 28px;
        line-height: 21px;
    }

    .login-btn:active {
        top: 30px;
    }
}

/*自分がどうなりたいのか */
.conD {
    position: relative;
    margin: 30px auto;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    max-width: 60vh;
    padding: 30px 50px;
    border-radius: 5px;
		font-family: 'メイリオ',
		'Hiragino Kaku Gothic Pro'
		sans-serif;
}

.conD h1 {
	font-size: 2em;
	margin-top: 1.1em;
	margin-bottom: 2.5em;
	border-bottom: 7px double #ffa500;
}

.conD h3 {
	font-size: 1.4em;
	font-weight: normal;
}

.explain {
	font-size: 1.1em;
	margin-top: 20px;
	font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体;
}

.markA {
	background:linear-gradient(transparent 60%, #6cf 60%);
	font-weight: bold;
}

.conD ul {
	list-style: none;
}

.conD label {
	margin-bottom: 0.5em;
	font-size: 20px;
}

.conD i {
	margin-right: 8px;
}

.conD textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 220px;
	padding: 8px 10px;
	margin: 50px, 0px, 50px 0px;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #ccc inset;
	background-color: #f5f5f5;
	font-size: 18px;
	appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: vertical;
	line-height: 140%;
}

.conD textarea:focus {
	outline: 0;
	box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.conD a {
	text-decoration: none;
	color: #07aaf4;
}

.conD a:hover {
	color: #ff7043;
}

/*「不安度」を囲むためのブロック*/
.degree-block {
	text-align: center;
	width: 70%;
}

/*短い記入欄 */
.short-session {
	margin-bottom: 3em;
	margin-top: 4em;
}

.short-session textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 70px;
	padding: 8px 10px;
	margin: 50px, 0px, 50px 0px;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #ccc inset;
	font-size: 0.85em;
	line-height: 1.2em;
	appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: vertical;
}

/* 記入欄(中) */
.small-session {
    margin-bottom: 3em;
		margin-top: 4em;
}

.small-session textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 120px;
	padding: 8px 10px;
	margin: 50px, 0px, 50px 0px;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #ccc inset;
	font-size: 0.85em;
	line-height: 1.2em;
	appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: vertical;
}

.small-chara {
	font-size: 17px;
	font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体;
}

.box24 {
    position: relative;
    padding: 0.5em 0.7em;
    margin: 2em 0;
		margin-bottom: 80px;
    background: #e6f4ff;
    color: #5c98d4;
    font-weight: bold;
}
.box24:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e6f4ff;
    width: 0;
    height: 0;
}
.box24 p {
    margin: 0;
    padding: 0;
		font-size: 18px;
}

/* コンテンツページ：ワイド用 */
.post .case {
	max-width: 1200px !important;
	max-height: auto;
	margin: auto;
	padding: 120px 10px 100px;
}

/*viewページワイド用 */
.conE {
    position: relative;
    margin-top: 30px auto;
    background-color: #fff;
    max-width: 100%;
    padding: 30px 50px;
		margin-bottom: 140px;
    border-radius: 5px;
		font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体;
}

.conE h1 {
	font-size: 2em;
	margin-top: 1.1em;
	margin-bottom: 2.5em;
	border-bottom: 7px double #ffa500;
}

table {
	border-collapse:separate;
  border-spacing: 0;
	width: 100%;
	table-layout: fixed;
	margin-top: 50px;
	margin-bottom: 80px;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  width: 25%;
  padding: 3px ;
	background: #eee;
}

table tr:nth-child(odd) td {
	background: #fff;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}


th,td {
	border: solid 1px;
	padding: 3px;
}

td {
	overflow-wrap :break-word;
}

td a{
		color: #0040FF;
		text-decoration: none;
	}

td  a:hover{
		color : #ff7043;
	}

.conF {
    position: relative;
    margin: 30px auto;
    background-color: #fff;
    max-width: 70vh;
    padding: 30px 50px;
    border-radius: 5px;
		font-family: 'メイリオ',
		'Hiragino Kaku Gothic Pro'
		sans-serif;
}


.conF h2 {
	margin-top: 90px;
	margin-bottom: 60px;
	font-weight: normal !important;
}

.conF a {
	text-decoration: none;
	color:  #07aaf4;
	font-size: 1.2rem;
}

.conF a:hover {
	color: #ff7043;
}

/*fontawesomeの色変更 */
.size {
	color: #00bfff;
}

/*赤字*/
.red-chara {
	color:  #d60e0e;
	font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体;
	font-size: 90%;
}

.listA {
	width: 100%;
	margin-top: 80px;
	margin-bottom: 80px;
}

/*テーブル二段組み用 */
.conG {
    position: relative;
    margin-top: 30px auto;
    background-color: #fff;
    max-width: 100%;
    padding: 30px 50px;
		margin-bottom: 140px;
    border-radius: 5px;
		font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体;
}

.conG h1 {
	font-size: 2em;
	margin-top: 1.1em;
	margin-bottom: 2.5em;
	border-bottom: 7px double #ffa500;
}

.conG  table {
	border-collapse:separate;
  border-spacing: 0;
	width: 100%;
	table-layout: fixed;
	margin-top: 0;
	margin-bottom: 5px;
}
